# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Local settings
.local_settings.py

# IDE/editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
